body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

#root>div>div.p-0.row>div>nav>a>h1, h1, h2, h3, h4, h5, h6, .gradient, #root>div>div>div>nav>span>h1 {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #21c07b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient( to right, #21c07b, #0c6dd4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient( to right, #21c07b, #0c6dd4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  margin-left: 5%;
  padding-right: 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

select.form-control, textarea.form-control, input.form-control {
  font-size: 1rem;
}

input[type="file"] {
  width: 100%;
}

.noto {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-padding {
  padding-right: 10%;
}

#root>div>div.p-0.row>div>nav>div>div>button>a, #root>div>div.p-0.row>div>nav>div>div>div>button.noto.btn.btn-outline-danger>a:hover, #root>div>div.p-0.row>div>nav>div>div>div, #root>div>div.p-0.row>div>nav>div>div>div>button.noto.btn.btn-dark>a, .labels, #root>div>div.p-0.row>div>nav>div>div>div>button.noto.btn.btn-outline-danger>a:hover, #root>div>div.p-0.row>div>nav>div>div>div, #root>div>div.Signup>form {
  color: white;
  font-style: oblique;
}

.noto {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-padding {
  padding-right: 10%;
}

#root>div>div.p-0.row>div>nav>div>div>div>button.noto.btn.btn-dark>a, #root>div>div.Login>form>button {
  color: white;
  font-style: oblique;
  text-transform: uppercase;
}

#root>div>div.p-0.row>div>nav>div>div>div>button.noto.btn.btn-danger>a, #root>div>div.p-0.row>div>nav>div>div>div>button.noto.btn.btn-danger>a, #root>div>div.Login, #root>div>div.Signup>form>div>small {
  color: white;
}

#root>div>div.mx-auto.row>div {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.list-group {
  color: black;
  width: 100vw;
  text-align: left;
}

.menu-padding {
  margin-right: 5vw;
}

.billingheader {
  margin-top: 5vh;
  text-decoration: underline;
}

.whitetext {
  color: #FFFFFF;
}

.payment {
  display: block;
  margin: auto;
}

.feed-text {
  font-size: 2vh;
  color: black;
}

.font-weight-bold {
  font-size: 2.5vh;
}

a {
  color: rgba(0, 0, 0, 0.568);
  font-size: 1.5vh;
}

.return-button {
  width: 20vw;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .return-button {
    width: 70vw;
    height: 16vh;
  }
}